$main-bg-color: #fbfcff;
$primary-color: #f15a24;
$disabled-text-color: #b3bec2;
$disabled-bg-color: #e3e8eb;
$primary-text-color: #16303c;
$input-container-bg-color: #fff2ee;
$quote-color: #29abe2;
$table-row-bg-color-hover: #e2f4fc;
$table-quote-bg-color: #eff4f7;
