@import 'variables';

:host {
    background-color: inherit;
}

.quote {
    position: relative;
    color: $quote-color;
    text-align: center;
    padding: 62px 30px;
    border: 5px solid $quote-color;
    border-top-style: dashed;
    border-right-style: dashed;
    font-size: 36px;
    margin: auto;
    max-width: 600px;
    background-color: inherit;

    &__sign {
        position: absolute;
        background-color: inherit;
        padding: 5px;
    }

    .top-left {
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
    }

    .bottom-right {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%) rotate(180deg);
    }
}